<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #30096f;">
<div class="container">
  <a href="/Index" class="navbar-brand ">Restaurante Come Bem</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/Produtos" >Produtos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Garcons" >Garçons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Mesas" >Mesas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Atendimentos">Atendimentos</a>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav text-right">
      <li class="nav-item active ml-auto">
        <a href="/Login" class="nav-link">Login</a>
      </li>
    </ul>
</div>
</nav>
