<div style="background-color: rgb(91, 152, 223); height: 50px; display: flex; justify-content: left; align-items: center; width: 100%">
  <a href="/Index" style="color: white; text-decoration: none; margin: 0 10px;">Menu Principal</a>
  <span style="background-color: grey; width: 1px; height: 20px; margin: 0 10px;"></span>
  <a href="/Produtos" style="color: white; text-decoration: none; margin: 0 10px;">Produtos</a>
  <span style="background-color: grey; width: 1px; height: 20px; margin: 0 10px;"></span>
  <a href="/Garcom" style="color: white; text-decoration: none; margin: 0 10px;">Garçons</a>
  <span style="background-color: grey; width: 1px; height: 20px; margin: 0 10px;"></span>
  <a href="/Psychos" style="color: white; text-decoration: none; margin: 0 10px;">Mesas</a>
  <span style="background-color: grey; width: 1px; height: 20px; margin: 0 10px;"></span>
  <a href="/Books" style="color: white; text-decoration: none; margin: 0 10px;">Atendimentos</a>
  <span style="background-color: grey; width: 1px; height: 20px; margin: 0 10px;"></span>
  <a href="/Login" style="color: white; text-decoration: none; display: inline-block; margin-left: auto; margin-right: 20px">Login</a>
</div>
