@page "{id:int}"
@model Aula03.pages.Categories.Delete
@{
}
<div class="container mt-5">
<h1>Detalhes da Categoria a Remover</h1>

<div>
	<p><strong>Nome:</strong>@Model.Category.Name</p>
</div>

<form method="post">
	<div class="group-form">
		<input type="submit" value="Deletar" class="btn btn-danger" />
		<a asp-page="/Categories/Index" class="btn btn-primary">Voltar à Lista</a>
	</div>
</form>
</div>