@page 
@model Aula03.pages.IndexAdm
@{
    ViewData["Title"] = "Visão Administrador";
}

<h1>@ViewData["Title"]</h1>


<header>
    <br />
    <br />
    <br />
    <br />
    <h3>Ferramentas de Administrador</h3>
    <div style="background-color: rgb(0, 0, 0); height: 50px; display: flex; justify-content: left; align-items: center; width: 100%">
      <a href="/Index" style="color: yellow; text-decoration: none; margin: 0 10px;">Menu Principal</a>
      <span style="background-color: grey; width: 1px; height: 20px; margin: 0 10px;"></span>
      <a href="/Events/Index" style="color: yellow; text-decoration: none; margin: 0 10px;">Eventos</a>
      <span style="background-color: grey; width: 1px; height: 20px; margin: 0 10px;"></span>
      <a href="/Calendar" style="color: yellow; text-decoration: none; margin: 0 10px;">Agenda</a>
      <span style="background-color: grey; width: 1px; height: 20px; margin: 0 10px;"></span>
      <a href="/Psychos" style="color: yellow; text-decoration: none; margin: 0 10px;">Chat com Psicólogos</a>
      <span style="background-color: grey; width: 1px; height: 20px; margin: 0 10px;"></span>
      <a href="/BooksAdm" style="color: yellow; text-decoration: none; margin: 0 10px;">Gerenciar Livros</a>
      <span style="background-color: grey; width: 1px; height: 20px; margin: 0 10px;"></span>
      <a href="/Login" style="color: yellow; text-decoration: none; display: inline-block; margin-left: auto; margin-right: 20px">Login</a>
    </div>
</header>
