@page
@model Aula03.pages.Produtos.Create
@{
}
<h1>Adicionar Livro</h1>
<div>
	<div class="row">
		<div class="col-md-4">
			<form method="post">
				<div asp-validation-summary="ModelOnly" class="text-dange"></div>
				<input type="hidden" asp-for="Produto.ProdutoID" />
				<div class="form-group">
					<label asp-for="Produto.Name">Título:</label>
					<input asp-for="Produto.Name" class="form-control" />
					<span asp-validation-for="Produto.Name" class="text-dange"></span>
				</div>
				<div class="form-group">
					<label asp-for="Produto.Price">Preço:</label>
					<input asp-for="Produto.Price" type="int" class="form-control" />
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-primary" value="Salvar" />
					<a asp-page="/Produtos/Index" class="btn btn-secondary">Cancelar</a>
				</div>
			</form>
		</div>
	</div>
</div>