@page
@model Aula03.pages.Mesas.Index
@{
}

<hr />
<td><a asp-page="/Mesas/Create">Criar Nova Mesa</a></td>
<hr />

<body>
    <div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td>Identificador</td>
                    <td>Hora de Libração</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var eventModel in Model.MesasList)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => eventModel.MesaID)</td>
                        <td>@Html.DisplayFor(model => eventModel.HoraLiberacao)</td>
                        <td>
                            <a asp-page="./Delete" asp-route-id="@eventModel.MesaID">Remover</a>
                        </td>
                        @if ((eventModel.HoraLiberacao < DateTime.Now) || (eventModel.HoraLiberacao == null)) {
                            <td>
                                <a asp-page="./Reserva" asp-route-id="@eventModel.MesaID">Reservar Mesa</a>
                            </td>
                        }   
                        else
                        {
                            <td>
                                Mesa indisponível.
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>