<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #30096f;">
<div class="container">
  <a href="/Index" class="navbar-brand ">Restaurante Come Bem</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/Products" >Produtos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Categories">Categorias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Waiters">Garçons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Tables">Mesas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Services">Atendimentos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Dashboard">Dashboard</a>
      </li>
    </ul>
  </div>
</div>
</nav>
