@page "{id:int}"
@model Aula03.pages.Products.Delete
@{
}
<div class="container mt-5">
<h1>Detalhes do Item para Remover</h1>

<div>
	<p><strong>Nome:</strong>@Model.Product.Name</p>
	<p><strong>Descrição:</strong>@Model.Product.Description</p>
	<p><strong>Preço:</strong>@string.Format("R${0:N2}", Model.Product.Price)</p>
</div>

<form method="post">
	<div class="group-form">
		<input type="submit" value="Deletar" class="btn btn-danger" />
		<a asp-page="/Products/Index" class="btn btn-primary">Voltar à Lista</a>
	</div>
</form>
</div>