@page 
@model Aula03.pages.Index
@{
    ViewData["Title"] = "Pag Index";
}

<div class="container mt-5">
<div class="col-md-7 mx-auto">
    <h1>Sistema Restaurante Come Bem</h1>
    <h3>Porque aqui você come bem</h3>
</div>
</div>
